.btn {
    width: 120px;
    height: 40px;
    line-height: 40px;
    background: #41bdd7;
    color: #fff;
    border: none;
    font-size: 15px;
    margin-bottom: 0;
    cursor: pointer;
}

.btn-blue {
    background-color: #0a396d;
    color: #fff;
}

.btn-blue:hover {
    background-color: #33a3baf5;
    color: #fff !important;
}

.hidden,
.hide {
    display: none;
}

#header-top {
    width: 100vw;
    height: 32px;
    background-color: #1f263a;
}

#header-top a {
	display: block;
	color: #fff;
	line-height: 32px;
	margin-right: 36px;
	position: relative;
}

#header-top a .icon {
	margin-top: 3px;
}

.language-selector li {
    padding-left: 32px;
    position: relative;
}

.language-selector .icon-curr{
    left: 8px;
    top: 11px;
}

.selector {
    position: absolute;
    width: 100%;
    border: 1px solid #0a396d;
    background-color: #FFFFFF;
    color: #333333;
    z-index: 999;
    cursor: pointer;
    min-width: 100px;
}

.selector li.selected,
.selector li:hover {
	background: #0a396d;
	color: #fff;
}

#header-content {
    height: 60px;
}

#header-content table tr {
    height: 60px;
}

#header-content .logo {
    display: table-cell;
    vertical-align: middle;
    text-align: left;
    line-height: 0;
}

#header-content .logo img {
    max-height: 60px;
}

#header-content .nav li {
    width: calc(100% / 8);
    text-align: center;
    float: left;
    position: relative;
}

#header-content .nav-son {
    display: none;
    width: 100%;
    background: #fff;
    position: absolute;
}

#header-content .nav-son li {
    width: 100%;
    height: 30px;
    line-height: 30px;
    background: #fff;
    color: #333;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

#header-content .nav-son li a {
    border-bottom: 1px solid #ddd;
}

#header-content .nav li .title {
    display: block;
    line-height: 60px;
    font-size: 16px;
}
#header-content .nav-son li a:hover,
#header-content .nav li .title:hover {
    background-color: #0a396d;
    color: #fff;
}

#header-content .nav li .title.selected {
    background-color: #0a396d;
    color: #fff;
}

#header-content .nav .title.selected  {
    font-weight: bold;
    color: #0a396d;
}

@media screen and (max-width: 900px) {
    #header-content .contact-us {
        display: none !important;
    }

    #header-content .nav li {
        width: calc(100% / 7) !important;
    }
}

@media screen and (max-width: 750px) {
    #header-content .server-deal {
        display: none !important;
    }

    #header-content .nav li {
        width: calc(100% / 6) !important;
    }
}

@media screen and (max-width: 660px) {
    #header-content .news-center {
        display: none !important;
    }

    #header-content .nav li {
        width: calc(100% / 5) !important;
    }
}

#footer {
    width: 100vw;
    background-color: #1f263a;
    padding: 30px 0;
}

#footer .menu ul {
    font-size: 0;
}

#footer .menu li {
    font-size: 16px;
    display: inline-block;
     padding: 10px 0;
    border-bottom: 2px solid #0a396d;
}

#footer .menu a {
    color: #fff;
    display: block;
}

#footer .menu a span {
    display: inline-block;
}

#footer .menu a:hover {
    color:  #0a396d;
}

#footer .separate {
    padding: 0 15px 0 10px;
}

#footer .site-content {
    padding: 15px 0;
    color: #fff;
    border-bottom: 1px solid #282f42;
}

.goto-top {
    display: none;
    position: fixed;
    bottom: 80px;
    width: 50px;
    height: 50px;
    right: 100px;
}

.goto-top .icon {
    box-shadow:0px 0px 6px rgba(0,0,0,0.16);
    border-radius: 50%;
}

.pop-up {
    -webkit-animation: popup .3s;
    animation: popup .3s;
}

#footer .contact h2 {
    font-size: 18px;
    color: #fff;
    padding-left: 123px;
    background: url(/image/computer/fed.png) no-repeat left center;
    margin-bottom: 10px;
}

.input {
    width: calc(100% - 22px);
    height: 30px;
    line-height: 30px;
    border: 1px solid #29314a;
    padding: 0 10px;
    border-radius: 6px;
    margin-bottom: 5px;
    background: none;
    color: #a9a9a9;
}

.textarea {
    width: calc(100% - 22px);
    height: 58px;
    border: 1px solid #29314a;
    padding: 0 10px;
    border-radius: 6px;
    margin-bottom: 5px;
    background: none;
    color: #a9a9a9;
}

.input:focus,
.textarea:focus {
    border-color: #41bdd7;
}
.chat {
    position: fixed;
    z-index: 99999;
    bottom: 0;
    right: 10px;
    cursor: pointer;
    background: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 0px 0px 3px 2px rgba(0,0,0,0.1);
}
.chat .chat_button_bar {
    min-width: 50px;
    max-width: 300px;
    height: 30px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: #ffffff;
    background: #7dc10b;
}
.chat .favicon {
    float: left;
    padding-top: 8px;
    border-top-left-radius: 5px;
    font-size: 16px;
    height: 22px;
    vertical-align: text-top;
    text-align: center;
    width: 36px;
    background: #6fb300;
    color: #ffffff;
    font-family: zopim, "Segoe UI Symbol", "Arial Unicode MS", "Lucida Sans Unicode", sans-serif;
    speak: none;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}
.chat .chat_button_bar .title {
    padding: 0 20px;
    display: block;
    float: left;
    line-height: 30px;
}
.chat .chat-content {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    position: relative;
    height: 400px;
    width: 300px;
    z-index: 999999;
    background: #ffff;
}
.chat .content-title {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    text-align: center;
    z-index: 10;
    height: 24px;
    color: #f8fcf3;
    background: #7dc10b;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
#chat-text-content {
    padding: 34px 10px 10px 10px;
    height: calc(100% - 34px - 60px);
    overflow-y: auto;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
#chat-text-content .title {
    margin: 0 auto;
    background: #EFF3F6;
    border-radius: 4px;
    padding: 3px 5px;
    font-size: 12px;
}
#chat-text-content p {
    margin-bottom: 5px;
}
#chat-text-content .avatar {
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid #ccc;
}
#chat-text-content .avatar.left {
    margin-right: 5px;
}
#chat-text-content .avatar.right {
    margin-left: 5px;
}
#chat-text-content .content {
    max-width: calc(100% - 55px);
    word-break: break-all;
    padding: 5px 8px;
    background: #EFF3F6;
    border-radius: 4px;
}
#chat-text-content .content.right {
    background: #7dc10b;
    color: #fff;
}
.chat .chat-button {
    position: absolute;
    width: calc(100% - 18px);
    bottom: 0;
    height: 32px;
    padding: 9px;
    border-top: 1px solid #e7e7e7;
}
.chat .chat-button .btn {
    height: 32px;
    line-height: 32px;
    width: 100px;
    border-radius: 4px;
    background-color: #7dc10b;
}
.chat .input {
    border-color: #7dc10b;
}

@keyframes popup
{
    from { transform: translate3d(0, -80px, 0);     }
    to   { transform: translate3d(0, 0, 0); }
}

 /* Firefox */
@-webkit-keyframes popup
{
    from { transform: translate3d(0, -80px, 0);     }
    to   { transform: translate3d(0, 0, 0); }
}

@keyframes popdown
{
    from { transform: translate3d(0, 0, 0);     }
    to   { transform: translate3d(0, 80px, 0); }
}

 /* Firefox */
@-webkit-keyframes popdown
{
    from { transform: translate3d(0, 0, 0);     }
    to   { transform: translate3d(0, 80px, 0); }
}