.hidden,
.hide {
    display: none;
}

.header-top {
    width: 100%;
    height: 32px;
    background-color: #303B41;
}

.header-top a {
	display: block;
	color: #fff;
	line-height: 32px;
	margin-right: 36px;
	position: relative;
}

.header-top a .icon {
	margin-top: 3px;
}

.selector {
    position: absolute;
    width: 100%;
    border: 1px solid #1E90FF;
    background-color: #FFFFFF;
    color: #333333;
    z-index: 999;
    cursor: pointer;
    min-width: 100px;
}

.selector li.selected,
.selector li:hover {
	background: #1E90FF;
	color: #fff;
}