.category-product {
	padding: 40px 0 20px 0;
	position: relative;
}

.category-product .product-box {
	width: calc(100% - 16%);
	margin: 0 auto;
}

.category-product .product-box ul {
	display: inline-flex;
	overflow: hidden;
	min-width: 100%;
}

.category-product .product-box li {
	min-width: calc((100% - 38px) / 4);
	max-width: calc((100% - 38px) / 4);
	float: left;
	border: 1px solid #e7e8eb;
	margin-right: 10px;
	background-color: #fff;
	position: relative;
}

.category-product .product-box li:hover .product-title {
	background-color: #41bdd7;
	color: #fff;
}

.category-product .product-box .product-title {
	padding: 10px;
	height: 100%;
}

.category-product .ant2-icon.left {
	left: 8px;
}

.category-product .ant2-icon.right {
	right: 8px;
}