#slider-content .inline-block-box {
    max-height: 600px;
}

#slider-content .slider {
    width: 100vw;
    margin-top: -5px;
    text-align: center;
}

#slider-content .prev-stay {
    transition: left 0.5s;
    -moz-transition: left 0.5s; /* Firefox 4 */
    -webkit-transition: left 0.5s; /* Safari 和 Chrome */
    -o-transition: left 0.5s; /* Opera */
}

#slider-content:hover .prev-stay {
    background-position: -64px 0;
    opacity: 1;
    left: 8%;
    transition: left 0.5s;
    -moz-transition: left 0.5s; /* Firefox 4 */
    -webkit-transition: left 0.5s; /* Safari 和 Chrome */
    -o-transition: left 0.5s; /* Opera */
}

#slider-content .next-stay {
    transition: right 0.5s;
    -moz-transition: right 0.5s; /* Firefox 4 */
    -webkit-transition: right 0.5s; /* Safari 和 Chrome */
    -o-transition: right 0.5s; /* Opera */
}

#slider-content:hover .next-stay {
    background-position: -64px -72px;
    opacity: 1;
    right: 8%;
    transition: right 0.5s;
    -moz-transition: right 0.5s; /* Firefox 4 */
    -webkit-transition: right 0.5s; /* Safari 和 Chrome */
    -o-transition: right 0.5s; /* Opera */
}

.category-product {
	padding: 40px 0 20px 0;
	position: relative;
}

.category-product .product-box {
	width: calc(100% - 16%);
	margin: 0 auto;
}

.category-product .product-box li {
	width: calc((100% - 38px) / 4);
	border: 1px solid #e7e8eb;
	margin-right: 10px;
	background-color: #fff;
}

.category-product .product-box li:hover .product-title {
	background-color: #41bdd7;
	color: #fff;
}

.category-product .product-box .product-title {
	padding: 10px;
	height: 100%;
}

.category-product .product-box .product-title .square {
	padding-bottom: 80%;
	overflow: hidden;
	text-overflow: ellipsis;
	word-break: break-all;
}

.ant2-icon.left {
	left: 1%;
}

.ant2-icon.right {
	right: 1%;
}

.inline-block-box {
    overflow: hidden;
    width: 100%;
    position: relative;
    white-space: nowrap;
    font-size: 0;
}

.inline-block {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.dots {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    height: 20px;
    min-width: 350px;
}

.dots-content li{
    background: #fafafa;
    width: 8px;
    height: 8px;
    margin: 5px;
    float: left;
    border-radius: 50%;
    transition: .65s;
    cursor: pointer;
    overflow: hidden;
}

.dots-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: table;
    content: "";
    clear: both;
}

.dots .selected {
    width: 12px;
    height: 12px;
    margin-top: 3px;
    background-color: #41BDD7;
}