#application {
	padding: 80px 0 40px 0; 
}

#application ul li {
	width: calc((100% - 40px) / 3);
	padding: 20px;
	float: left;
	text-align: center;
	margin-right: 20px;
	margin-bottom: 40px;
	border: 1px solid #f4f4f4;
}

#application ul li:last-child {
	margin-right: 0;
}

#application .text-content {
	color: #999999;
	font-size: 14px;
	line-height: 26px;
}

@media screen and (max-width: 1000px) {
    #application ul li {
        width: 100%;
        margin-right: 0;
    }
}

#product-list {
	padding: 40px 0;
	background-image: url('/image/computer/categories-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
