#product-content {
	padding: 40px 0;
}

#product-content a:hover{
	color: #0a396d;
}

#product-content .product-pic {
	margin-right: 20px;
	width: calc(100% - 20px - 250px);
}

#product-content .product-pic .pic-left {
	width: 11%;
	margin-right: 10px;
}

#product-content .product-pic .pic-left li {
	width: 100%;
	/*height: 100%;*/
	border: 2px solid #d9d9d9;
	margin-bottom: 10px;
	line-height: 0;
}

#product-content .product-pic .pic-left li.selected {
	border-color: #0a396d;
}

#product-content .product-pic .pic-right {
	width: calc(100% - 11% - 12px);
	border: 1px solid #dadada;
}

#product-content .product-name {
	width: 250px;
}

#product-content .product-name .title {
	padding-bottom: 10px;
}

#product-content .product-name .description {
	padding: 10px 0;
}

#product-content .product-name .description .desc {
	padding: 0 5px;
}

#product-content .product-detail {
	height: 35px;
    background: #eee;
}

#product-content .product-detail li {
	float: left;
	height: 35px;
	line-height: 35px;
	padding: 0 20px;
}

#product-content .product-detail li.selected {
	color: #fff;
    background: #0a396d;
}

.product-list ul {
	width: 100%;
	position: relative;
}

.product-list li {
	margin-right: 20px;
	width: calc((100% - 41px) / 3);
	float: left;
	margin-bottom: 20px;
	text-align: center;
}

.recommend-content.product-list li {
	width: calc((100% - 61px) / 4);
}

.product-list .product-img {
	border: 2px solid #e1e1e1;
	width: calc(100% - 4px);
	padding-bottom: calc(100% - 4px);
}

.product-list li:hover .product-img {
	border-color: #ec8504;
}

.product-list li:hover .product-title {
	color: #0a396d;
}

.contact {
	padding: 20px 0;
}

.contact .tel {
	padding-left: 48px;
	background: url('/image/computer/icon/telbj.jpg') no-repeat left center;
}

.contact .phone {
    font-size: 20px;
    font-family: arial;
    color: #ee0000;
}
.text-center p {
	line-height: 0;
}