.item-list li {
	padding: 20px 0;
	border-bottom: 1px solid #d6d6d6;
}
.item-list .image-item {
	display: block;
    padding: 5px;
    border: 1px solid #d6d6d6;
    border-radius: 4px;
}
.item-list .item-info {
	padding-left: 40px;
}

.item-list .more {
    display: inline-block;
    width: 87px;
    height: 25px;
    line-height: 25px;
    border: 2px solid #b2b2b2;
    text-align: center;
    margin-top: 15px;
}
.item-list li:hover .image-item{
	border-color: #0a396d;
}
.item-list li:hover .title{
	color: #0a396d;
}
.item-list li:hover .more {
	border-color: #0a396d;
	background: #0a396d;
	color: #fff;
}