#slider-content {
    width: 100%;
    position: relative;
}

#slider-content .slider-box {
    width: max-content;
    display: inline-flex;
    position: relative;
}

#slider-content .slider-box div {
    width: 100%;
    height: 100%;
    display: table;
}

#slider-content .slider-box .slider {
    float: left;
    position: relative;
    overflow: hidden;
    width: 100vw;
    max-height: 600px;
}

#slider-content .slider-box .slider img {
    
}

#slider-content .slider-box .slider a.block {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 100%;
    height: 100%;
    line-height: 0;
}

#slider-content .dots {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    height: 20px;
    min-width: 350px;
}

#slider-content .dots-content li{
    background: #fafafa;
    width: 8px;
    height: 8px;
    margin: 5px;
    float: left;
    border-radius: 50%;
    transition: .65s;
    cursor: pointer;
    overflow: hidden;
}

#slider-content .dots-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: table;
    content: "";
    clear: both;
}

#slider-content .dots .active {
    width: 12px;
    height: 12px;
    margin-top: 3px;
}

#slider-content .arrows .prev {
    left: 15px;
    top: calc(50% - 16px);
    height: 32px;
    width: 16px;
    position: absolute;
}

#slider-content .arrows .next {
    right: 15px;
    top: calc(50% - 16px);
    height: 32px;
    width: 16px;
    position: absolute;
}