.banner-content li {
	width: 320px;
	margin-right: 15px;
	margin-bottom: 10px;
    float: left;   
}

.banner-content li .upload-item {
	height: 100px;
	width: 320px;
    text-align: center;
    line-height: 0;
    background: #eee;
    display: table-cell;
    vertical-align: middle;
}