.banner-content li {
	height: 100px;
	width: 320px;
	background: #eee;
	margin-bottom: 10px;
    float: left;
    margin-right: 15px;
    text-align: center;
    line-height: 0;
    line-height: 98px;
}