.container {
	width: 100%;
}

#header-nav {
    margin-top: 10px;
    margin-bottom: 15px;
}

#header-nav .nav {
    border-left-width: 2px;
    border-left-style: solid;
    border-left-color: #e7502b;
    line-height: 20px;
    padding-left: 5px;
}

#header-nav .nav a.extralink {
    color: #ccc;
    margin-left: 15px;
    width: 16px;
    height: 16px;
    display: none;
}

#header-nav .nav:hover a.extralink {
    margin-left: 15px;
    width: 16px;
    height: 16px;
    display: inline-block;
}

.centerShow {
    box-sizing: border-box;
    box-shadow: 0 5px 7px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    width: 345px;
    height: auto;
    padding: 20px;
    background-color: #f1f1F1;
    margin-right: auto;
    margin-left: auto;
    text-align: left;
    position: fixed;
    display: none;
    z-index: 99;
}

.centerShow form .input-group {
    margin-bottom: 15px;
}