.btn {
    width: 1.20rem;
    height: 0.40rem;
    line-height: 0.40rem;
    background: #41bdd7;
    color: #fff;
    border: none;
    font-size: 0.15rem;
    margin-bottom: 0;
    cursor: pointer;
}
.input {
    width: calc(100% - 0.22rem);
    height: 0.30rem;
    line-height: 0.30rem;
    border: 0.01rem solid #29314a;
    padding: 0 0.10rem;
    border-radius: 0.06rem;
    margin-bottom: 0.05rem;
    background: none;
    color: #a9a9a9;
}
.header-top {
    width: 100%;
    height: .56rem;
    border-bottom: .02rem solid #0a396d;
    text-align: center;
    z-index: 999;
    background-color: #fff;
}
.header-top .item {
    min-width: 0.4rem;
}
.header-top .logo-table {
    width: calc(100% - 0.4rem*4 - 0.05rem*2);
}
.header-top .logo {
	height: 0.56rem;
}
.menu-box .menu-sy-mask {
    width: 100%;
    height: 100%;
    position: fixed;
    background: #000000;
    left: 0;
    top: .58rem;
    z-index: 16000006;
    opacity: 0.65;
}
.menu-box .menu-content {
    width: 75%;
    right: 0;
    top: .58rem;
    position: fixed;
    height: calc(100% - 0.58rem);
    z-index: 16000007;
    overflow: auto;
    left: -100%;
}
.menu-box .menu-content .item-box {
    width: 100%;
    border-bottom: .01rem solid #E7E7E7;
}
.menu-box .menu-content .item {
    height: .48rem;
    line-height: .48rem;
    padding-left: .15rem;
    padding-right: 0.10rem;
    display: block;
    position: relative;
    overflow: hidden;
    width: calc(100% - .15rem - 0.10rem);
    border-bottom: .01rem solid #E7E7E7;
    text-overflow: ellipsis;
}
.menu-box .menu-content .item .icon-more {
    position: absolute;
    right: 0.08rem;
    top: 0;
}
.menu-box .menu-content .category-box {
    position: absolute;
    width: 100%;
    left: 100%;
    top: 0;
    height: 100%;
    z-index: 9999;
    background: #FFFFFF;
}
.menu-box .menu-content .nav-category ul>li {
    height: .48rem;
    line-height: .48rem;
    padding-left: .32rem;
    border-bottom: .01rem solid #E7E7E7;
    display: block;
    position: relative;
}
.menu-box .menu-content .view-all {
    font-size: 0.12rem;
    font-weight: 400;
    color: #999999;
    float: right;
}
#footer {
    border-top: 0.01rem solid #0a396d;
    padding-bottom: 0.15rem;
}
.footer-nav {
    padding: 0.1rem;
    background-color: #0a396d;
}
.footer-nav ul li {
    width: calc(100% / 4);
    border-right: 0.01rem solid #fff;
    float: left;
    text-align: center;
    height: 0.22rem;
    line-height: 0.22rem;
    margin: 0.1rem 0;
}
.footer-nav ul li:last-child {
    border-right: none;
}
.chat {
    position: fixed;
    z-index: 99999;
    bottom: 0.15rem;
    right: 0.15rem;
    cursor: pointer;
    background: #fff;
    border-radius: 0.05rem;
    box-shadow: 0 0 0.03rem 0.02rem rgba(0,0,0,0.1);
}
.chat .chat_button_bar {
    min-width: 0.50rem;
    max-width: 3rem;
    height: 0.30rem;
    border-top-left-radius: 0.05rem;
    border-top-right-radius: 0.05rem;
    color: #ffffff;
    background: #7dc10b;
}
.chat .favicon {
    float: left;
    padding-top: 0.08rem;
    border-top-left-radius: 0.05rem;
    border-bottom-left-radius: 0.05rem;
    font-size: 0.16rem;
    height: 0.22rem;
    vertical-align: text-top;
    text-align: center;
    width: 0.36rem;
    background: #6fb300;
    color: #ffffff;
    font-family: zopim, "Segoe UI Symbol", "Arial Unicode MS", "Lucida Sans Unicode", sans-serif;
    speak: none;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}
.chat .chat_button_bar .title {
    padding: 0 0.20rem;
    display: block;
    float: left;
    line-height: 0.30rem;
}
.chat .chat-content {
    border-top-left-radius: 0.05rem;
    border-top-right-radius: 0.05rem;
    position: relative;
    width: 100vw;
    z-index: 999999;
    background: #ffff;
}
.chat .content-title {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    text-align: center;
    z-index: 10;
    height: 0.24rem;
    line-height: 0.24rem;
    color: #f8fcf3;
    background: #7dc10b;
    border-top-left-radius: 0.05rem;
    border-top-right-radius: 0.05rem;
}
#chat-text-content {
    padding: 0.34rem 0.10rem 0.10rem 0.10rem;
    height: calc(100% - 0.34rem - 0.60rem);
    overflow-y: auto;
    overflow-x: hidden;
    border-top-left-radius: 0.05rem;
    border-top-right-radius: 0.05rem;
}
#chat-text-content .title {
    margin: 0 auto;
    background: #EFF3F6;
    border-radius: 0.04rem;
    padding: 0.03rem 0.05rem;
    font-size: 0.12rem;
}
#chat-text-content p {
    margin-bottom: 0.05rem;
}
#chat-text-content .avatar {
    height: 0.30rem;
    width: 0.30rem;
    line-height: 0.30rem;
    text-align: center;
    border-radius: 50%;
    overflow: hidden;
    border: 0.01rem solid #ccc;
}
#chat-text-content .avatar.left {
    margin-right: 0.1rem;
}
#chat-text-content .avatar.right {
    margin-left: 0.1rem;
}
#chat-text-content .content {
    max-width: calc(100% - 0.55rem);
    word-break: break-all;
    padding: 0.05rem 0.08rem;
    background: #EFF3F6;
    border-radius: 0.04rem;
    line-height: 0.22rem;
    position: relative;
}
#chat-text-content .content::before {
    content: '';
    width: 0;
    height: 0;
    border: 0.08rem solid;
    position: absolute;
    top: 0.08rem;
}
#chat-text-content .content.left::before {
    left: -0.16rem;
    border-color:  transparent #EFF3F6 transparent transparent;
}
#chat-text-content .content.right::before {
    right: -0.16rem;
    border-color:  transparent transparent transparent #7dc10b;
}
#chat-text-content .content.right {
    background: #7dc10b;
    color: #fff;
}
.chat .chat-button {
    position: absolute;
    width: calc(100% - 0.18rem);
    bottom: 0;
    height: 0.32rem;
    padding: 0.09rem;
    border-top: 0.01rem solid #e7e7e7;
}
.chat .chat-button .btn {
    height: 0.32rem;
    line-height: 0.32rem;
    width: 1rem;
    border-radius: 0.04rem;
    background-color: #7dc10b;
}
.chat .input {
    border-color: #7dc10b;
}
.drop-mean {
    padding: 0.1rem;
    margin-top: 0.08rem;
    box-shadow: 0 0 0.03rem 0.01rem #dedede;
}
.drop-mean:before {
    content: '';
    width: 0;
    height: 0;
    border: 0.08rem solid;
    position: absolute;
    top: -0.16rem;
    right: 0.1rem;
    border-color:  transparent transparent #fff transparent;
}

.language .drop-mean {
    position: absolute;
    right: 0;
}
.selector {
    width: 100%;
    border: 0.01rem solid #0a396d;
    background-color: #FFFFFF;
    color: #333333;
    z-index: 999;
    cursor: pointer;
    min-width: 1rem;
}
.selector li {
    line-height: 0.35rem;
    padding-left: 0.32rem;
    position: relative;
    text-align: left;
}
.selector li.selected, 
.selector li:hover {
    background: #0a396d;
    color: #fff;
}
.selector li:hover span,
.selector li.selected span {
    color: #fff;
}
.selector .icon-curr {
    left: 0.08rem;
    top: 0.12rem;
}
.chat .unread {
    padding: 0.01rem;
    display: block;
    height: 0.18rem;
    line-height: 0.16rem;
    min-width: 0.18rem;
    background-color: #DC3918;
    color: #FFFFFF;
    border-radius: 50%;
    font-size: 0.12rem;
    position: absolute;
    top: -0.08rem;
    text-align: center;
    right: -0.08rem;
}