.margin-top-8 {
	margin-top: 0.08rem;
}

.margin-top-58 {
	margin-top: 0.58rem;
}

.margin-left-10 {
	margin-left: 0.1rem;
}

.margin-right-10 {
	margin-right: 0.10rem;
}

.margin-right-15 {
	margin-right: 0.15rem;
}

.padding-top-10 {
	padding-top: 0.1rem;
}