ul, ol { list-style:none; padding-left: 0;} 
a {color: #333333; }
img {max-height: 100%; max-width: 100%;}

.block {
    display: block;
}

.container {
    max-width: 1240px;
    min-width: 800px;
    padding: 0 20px;
    margin: 0 auto;
    position: relative;
}

.clear {
    clear: both;
}

.color-white {
    color: #FFF;
}

.color-red {
    color: #e7502b;
}

.ellipsis-1 {
    overflow: hidden;
    text-overflow: ellipsis;
}

.hidden {
    display: none;
}

.input {
    height: 40px;
    width: 100%;
    border: 1px solid #f1eeee;
    padding: 0 10px;
    font-size: 14px;
    border-radius: 4px;
}

.input::placeholder {
    color: #999;
}

.input:focus {
    outline:none;
}

.left {
    float: left;
}

.right {
    float: right;
}

.pointer {
    cursor: pointer;
}

.relative {
    position: relative;
}

.selection {
    width: 150px;
    height: 30px;
    background: #fff;
    border-radius: 4px;
    line-height: 28px;
    position: relative;
    cursor: pointer;
    color: #333333;
}

.selection .selector-icon {
    padding: 0 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    position: relative;
}

.selection .selector-icon .icon {
    top: 2px;
    right: 4px;
}

.selection .selector {
    position: absolute;
    width: calc(100% - 1px);
    border: 1px solid #1E90FF;
    background-color: #FFFFFF;
    color: #333333;
    z-index: 999;
    cursor: pointer;
}

.selection .selector li {
    padding: 0 8px;
    position: relative;
    line-height: 28px;
    cursor: pointer;
}

.selection .selector li span {
    cursor: pointer;
}

.selection .selector li:hover {
    background-color: #1E90FF;
    color: #FFFFFF;
}

.selection .selector-icon .icon-curr {
    top: 6px;
    left: 8px;
}

.selection:hover {
    background: #DDD;
}

.text-center {
    text-align: center;
}

.languega-selection .selector-icon {
    padding-left: 32px;
}

.languega-selection .selector li {
    padding-left: 32px;
}

.languega-selection .selector li .icon-curr {
    left: 8px;
    top: 6px;
}

.width-50 {
    width: 50%;
}

.width-100 {
    width: 100%;
}

#application {
    padding: 40px 0; 
}