body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin:0; padding:0; } 
body, button, input, select, textarea { font: 12px/1.5 Microsoft YaHei, tahoma, arial, Hiragino Sans GB, \\5B8B\4F53, sans-serif; color: #3c3c3c;} 
h1, h2, h3, h4, h5, h6{ font-size:100%; } 
ul, ol { list-style:none; } 
a { text-decoration:none; color: #3c3c3c;} 
a:hover { text-decoration:underline; } 
img { border:0; max-width: 100%; max-height: 100%;} 
button, input, select, textarea { font-size:100%; } 
table { border-collapse:collapse; border-spacing:0; }
html,body {
    border: 0;
    padding: 0;
    margin: 0;
}

.btn {
    border-radius: 4px;
    text-align: center;
    height: 40px;
    line-height: 40px;
}

.container {
    width: 1200px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}

.clear {
    clear: both;
}

.color-white {
    color: #FFF;
}

.color-red {
    color: #e7502b;
}

.ellipsis-1 {
    overflow: hidden;
    text-overflow: ellipsis;
}

.hidden {
    display: none;
}

.input {
    height: 40px;
    width: 100%;
    border: 1px solid #f1eeee;
    padding: 0 10px;
    font-size: 14px;
}

.input::placeholder {
    color: #999;
}

.input:focus {
    outline:none;
}

.left {
    float: left;
}

.right {
    float: right;
}

.pointer {
    cursor: pointer;
}

.relative {
    position: relative;
}