body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin:0; padding:0; } 
body, button, input, select, textarea { font: 12px/1.5 Microsoft YaHei, tahoma, arial, Hiragino Sans GB, \\5B8B\4F53, sans-serif; color: #3c3c3c;} 
h1, h2, h3, h4, h5, h6{ font-size:100%; } 
ul, ol { list-style:none; } 
a { text-decoration:none; color: #3c3c3c;} 
a:hover { text-decoration:none; } 
img { border:0; max-width: 100%; max-height: 100%;} 
button, input, select, textarea { font-size:100%; } 
table { border-collapse:collapse; border-spacing:0; }
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
}
html, body {
    min-width: 840px;
    overflow: auto;
    height: 100%;
}

.btn {
    border-radius: 4px;
    text-align: center;
    height: 40px;
    line-height: 40px;
}

.block {
    display: block;
}

.container {
    max-width: 1240px;
    min-width: 800px;
    padding: 0 20px;
    margin: 0 auto;
    position: relative;
}

.clear {
    clear: both;
}

.color-white {
    color: #FFF;
}

.color-red {
    color: #e7502b;
}

.ellipsis-1 {
    overflow: hidden;
    text-overflow: ellipsis;
}

.hidden {
    display: none;
}

.input {
    height: 40px;
    width: 100%;
    border: 1px solid #f1eeee;
    padding: 0 10px;
    font-size: 14px;
    border-radius: 4px;
}

.input::placeholder {
    color: #999;
}

.input:focus {
    outline:none;
}

.left {
    float: left;
}

.right {
    float: right;
}

.pointer {
    cursor: pointer;
}

.relative {
    position: relative;
}

.selection {
    width: 150px;
    height: 30px;
    background: #fff;
    border-radius: 4px;
    line-height: 28px;
    position: relative;
    cursor: pointer;
    color: #333333;
}

.selection .selector-icon {
    padding: 0 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    position: relative;
}

.selection .selector-icon .icon {
    top: 2px;
    right: 4px;
}

.selection .selector {
    position: absolute;
    width: calc(100% - 1px);
    border: 1px solid #1E90FF;
    background-color: #FFFFFF;
    color: #333333;
    z-index: 999;
    cursor: pointer;
}

.selection .selector li {
    padding: 0 8px;
    position: relative;
    line-height: 28px;
    cursor: pointer;
}

.selection .selector li span {
    cursor: pointer;
}

.selection .selector li:hover {
    background-color: #1E90FF;
    color: #FFFFFF;
}

.selection .selector-icon .icon-curr {
    top: 6px;
    left: 8px;
}

.selection:hover {
    background: #DDD;
}

.text-center {
    text-align: center;
}

.languega-selection .selector-icon {
    padding-left: 32px;
}

.languega-selection .selector li {
    padding-left: 32px;
}

.languega-selection .selector li .icon-curr {
    left: 8px;
    top: 6px;
}

.width-50 {
    width: 50%;
}

.width-100 {
    width: 100%;
}

#application {
    padding: 40px 0; 
}