.margin-top-15 {
	margin-top: 15px;
}

.margin-top-50 {
	margin-top: 50px;
}

.margin-bottom-20 {
	margin-bottom: 20px;
}

.margin-left-4 {
	margin-left: 4px;
}

.padding-top-70 {
	padding-top: 70px;
}

.padding-left-15 {
	padding-left: 15px;
}

.margin-bottom-5 {
	margin-bottom: 5px;
}
